@import "tailwindcss";

:root {
  --background-start: #181C32;
  --background-end: #111218;
  --foreground: #171717;
}

@theme inline {
  --color-background: linear-gradient(to right, var(--background-start), var(--background-end));
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start: #181C32;
    --background-end: #111218;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to right, var(--background-start), var(--background-end));
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.body-main{
  display: flex;
  flex-direction: column;
  align-items: center; /* centra horizontalmente los hijos, como <main> */
  text-align: center;
  min-height: 100vh;
  margin: 0;
}
.body-container {
  width: 100%; /* esto hace que <main> se estire al ancho total */
  max-width: 70em; /* opcional, si quieres limitar */
  margin: 1em;
}

/* Estilo por defecto (WebKit, Chromium, Edge) */
.scroller::-webkit-scrollbar {
  height: 6px;              /* grosor horizontal */
}
.scroller::-webkit-scrollbar-track {
  background: #1f2937;      /* track = gris oscuro */
  border-radius: 4px;
}
.scroller::-webkit-scrollbar-thumb {
  background: #22c55e;      /* thumb = verde-400 */
  border-radius: 4px;
}
.scroller::-webkit-scrollbar-thumb:hover {
  background: #4ade80;      /* un poco más claro al hover */
}

/* Firefox */
.scroller {
  scrollbar-width: thin;                /* thin / auto / none */
  scrollbar-color: #22c55e #1f2937;     /* thumb track */
}